/* Styling for the name */
#name {
    color: blue;
}

/* Styling for the student ID and course title */
.bold-text {
    font-weight: bold;
}

/* Styling for the lab title */
.italic-text {
    font-style: italic;
}

.bar {
    fill: steelblue;
}
.bar:hover {
    fill: orange;
}
.axis-label {
    font: 12px sans-serif;
}